*~
.*.swp
.*.swo
.tmux/*.log
.tmux/plugins/tmux-*
.vim/allbundles/YouCompleteMe/.circleci/
.vim/allbundles/YouCompleteMe/python/ycm/client/messages_request.py
.vim/allbundles/YouCompleteMe/python/ycm/tests/client/base_request_test.py
.vim/allbundles/YouCompleteMe/python/ycm/tests/client/messages_request_test.py
.vim/allbundles/YouCompleteMe/python/ycm/tests/mock_utils.py
.vim/allbundles/YouCompleteMe/python/ycm/tests/testdata
.vim/biggrep.vim
.vim/bundle/vim-tmux
.bash/completion-*
Session.vim
